<h1>Setlister</h1>

<%= form_for @song do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit "Add song" %>
<% end %>

<% @songs.each do |song| %>
  <li>
    <%= song.title %>
  </li>
<% end %>